*, *::before, *::after {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

html,
body {
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
               Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 14px;
  margin: 0;
  padding: 0;
}

button {
  font-size: 40px;
  background-color: white;
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 2px;
  cursor: pointer;
  transition: background-color 0.25s ease-in-out;
  display: inline-block;
}

button:hover {
  background-color: hsl(208, 96%, 96%);
}

.selected,
.selected:hover {
  border: 2px solid hsl(208, 96%, 57%); 
}

#comment {
  margin-top: 20px;
  font-size: 40px;
  padding: 10px;
}

#send-btn {
  margin-top: 40px;
}

#send-btn:disabled:hover {
  background-color: white;
}

.intro {
  font-size: 16px;
  color: hsl(208, 96%, 57%);
  text-align: center;
}

.main-container {
  margin: 0 auto;
  max-width: 460px;
  height: 100%;
  background-color: white;
  padding: 30px;
  overflow: hidden;
  position: relative;
}

.weather-icon-container {
  position: relative;
  top: 25%;
}

#weather-inputs {
  position: relative;
  top: calc(50% - 240px);
}

#weather-inputs div {
  width: 50%;
  float: left;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

#weather-inputs div:nth-child(4) {
  width: 100%;
}

#weather-inputs span {
  display: block;
  text-align: center;
}

#weather-inputs span:nth-child(2) {
  color: hsl(208, 96%, 57%);
  text-transform: uppercase;
  font-size: 14px;
  margin-top: 8px;
}

#weather-inputs span:nth-child(3) {
  color: #999;
  font-size: 12px;
}

.weather-icon {
  width: 60px;
  height: 60px;
  background-size: 70%;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.weather-5 {
  background-image: url("./img/sunny.svg");
}

.weather-4 {
  background-image: url("./img/partially_sunny.svg");
}

.weather-3 {
  background-image: url("./img/foggy.svg");
}

.weather-2 {
  background-image: url("./img/rainy.svg");
}

.weather-1 {
  background-image: url("./img/stormy.svg");
}

.left-btn,
.right-btn {
  color: hsl(208, 96%, 42%);
  font-size: 30px;
  position: absolute;
  top: calc(50% - 40px);
  padding: 20px;
  cursor: pointer;
}

.left-btn {
  left: 10px;
}

.right-btn {
  right: 10px;
}

.btn {
  font-size: inherit;
  color: white;
  background-color: hsl(208, 96%, 57%);
  border-radius: 4px; 
  width: 100%;
  border: 0;
  height: 50px;
  cursor: pointer;
  transition: background-color .25s ease-in-out;
}

.btn:hover {
  background-color: hsl(208, 96%, 42%);
}

.send-btn-container {
  position: fixed;
  bottom: 30px;
  left: 0;
  right: 0;
}

.btn-bottom {
  max-width: 400px;
  margin: 0 auto;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.menu-btn {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 1px solid hsl(208, 96%, 57%);
  position: absolute;
  top: 20px;
  left: 20px;
}

.menu-btn:before {
  content: "";
  position: absolute;
  width: 18px;
  height: 18px; 
  border-radius: 50%;
  border: 1px solid hsl(208, 96%, 57%); 
  top: 2px;
  left: 2px;
}

.cover {
  position: fixed;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9;
  opacity: 1;
  transition: opacity .35s ease-in-out;
}

.hide-me {
  pointer-events: none;
  opacity: 0;
}

.cover img {

}